[package]
name = "space_editor"
version.workspace = true 
edition.workspace = true 
license.workspace = true 
authors.workspace = true 
keywords.workspace = true 
categories.workspace = true 
exclude = ["/assets", "/examples"]
description = "Prefab editor for bevy game engine. Make levels/object templates with intuitive UI"
readme = "README.md"
homepage = "https://github.com/rewin123/space_editor"
repository = "https://github.com/rewin123/space_editor"

[workspace]
members = [
    "crates/prefab", 
    "crates/shared", 
    "crates/undo", 
    "crates/persistence",
    "crates/editor_core", 
    "crates/editor_ui", 
    "modules/bevy_xpbd_plugin"
]

[workspace.package]
version = "0.4.0"
edition = "2021"
license = "MIT OR Apache-2.0"
authors = ["rewin <rewin1996@gmail.com>", "Julia Naomi <jnboeira@outlook.com>"]
keywords = ["gamedev", "editor", "bevy"]
categories = ["game-development"]
repository = "https://github.com/rewin123/space_editor"
homepage = "https://github.com/rewin123/space_editor"

[workspace.dependencies]
bevy = "0.12"

# Editor Crates
space_prefab = { version = "0.4.0", path = "crates/prefab" }
space_shared = { version = "0.4.0", path = "crates/shared" }
space_undo = { version = "0.4.0", path = "crates/undo" }
space_persistence = { version = "0.4.0", path = "crates/persistence"}
space_editor_core = { version = "0.4.0", path = "crates/editor_core", features = ["persistence_editor"] }
space_editor_ui = { version = "0.4.0", path = "crates/editor_ui", features = ["persistence_editor"] }

# Crates inner libraries
anyhow = "1.0"
bevy_asset_loader = "0.19"
bevy_common_assets = { version = "0.9", features = ["ron"] }
bevy_debug_grid = "0.4"
bevy_egui_next = "0.26"
bevy-inspector-egui = { version = "0.22", features = [
    "bevy_pbr",
    "highlight_changes",
] }
bevy_mod_billboard = "0.5.1"
bevy_mod_picking = { git = "https://github.com/aevyrie/bevy_mod_picking.git", commit = "893336bf64265ee7d4bec2e1fefc16fb3e96e57a", default-features = false, features = [
    "backend_raycast",
    "selection",
] }
bevy_panorbit_camera = "0.13"
bevy-scene-hook = "9"
convert_case = "0.6"
egui_dock = "0.11"
egui_extras = { version = "0.26", features = ["all_loaders"] }
egui_file = "0.15"
egui-gizmo = "0.16.1"
egui-toast = "0.12.1"
image = {version = "0.24.8", feature = ["png"] }

pretty-type-name = "1"
ron = "0.8"
serde = "1"

# Community Modules
space_bevy_xpbd_plugin = { version = "0.4.0", path = "modules/bevy_xpbd_plugin"}

[patch.crates-io]
bevy-inspector-egui ={ git = "https://github.com/naomijub/bevy-inspector-egui.git" }

[dependencies]
bevy.workspace = true
space_editor_ui.workspace = true
space_prefab.workspace = true

# Modules for external crates
space_bevy_xpbd_plugin = { workspace = true, optional = true }

# For versions 1.74+
[workspace.lints.rust]
future-incompatible = "warn"
nonstandard_style = "deny"

[workspace.lints.clippy]
nursery = { level = "deny", priority = 0 }
all = { level = "deny", priority = 1 }
# Bevy Related
cognitive_complexity = { level = "allow", priority = 2 }
needless_pass_by_ref_mut = { level = "allow", priority = 2 }
significant_drop_in_scrutinee = { level = "allow", priority = 2 }
significant_drop_tightening = { level = "allow", priority = 2 }
too_many_arguments = { level = "allow", priority = 2 }

[lints]
workspace = true

[profile.dev.package.bevy_xpbd_3d]
opt-level = 3

[features]
bevy_xpbd_3d = ["dep:space_bevy_xpbd_plugin"]
persistence_editor = []
no_event_registration = ["space_prefab/no_event_registration"]
editor = ["space_prefab/editor"]
default = ["bevy_xpbd_3d", "persistence_editor", "editor"]

[[example]]
name = "platformer"
required-features = ["bevy_xpbd_3d"]


[[example]]
name = "spawn_prefab_with_physics"
required-features = ["bevy_xpbd_3d"]
