[package]
name = "space_editor_ui"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
description = "Subcrate for the space_editor crate. Contains the UI for the editor."
repository.workspace = true
homepage.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
persistence_editor = []

[dependencies]
bevy.workspace = true
space_editor_core.workspace = true
space_prefab.workspace = true
space_undo.workspace = true
space_persistence.workspace = true
space_shared.workspace = true
serde.workspace = true

bevy_egui = "0.24"
egui_extras = { version = "0.24", features = ["all_loaders"] }
resvg = "0.37"
egui-gizmo = "0.13"
egui_dock = "0.9"

bevy_debug_grid = "0.4"

bevy_mod_picking = { git = "https://github.com/dgriffith0/bevy_mod_picking.git", branch = "pick_hidden", default-features = false, features = [
    "backend_raycast",
    "selection",
] }
bevy_asset_loader = "0.19"
bevy_panorbit_camera = "0.9"
bevy_mod_billboard = "0.5.1"
pretty-type-name = "1.0.1"
convert_case = "0.6"

anyhow = "1.0"
bevy_common_assets = { version = "0.8", features = ["ron"] }

[lints]
workspace = true