(
  resources: {},
  entities: {
    12884901894: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 5.5,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 16867911387924892720,
          name: "Player",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Cube(1.0),
        "space_editor::prefab::save::ChildrenPrefab": ([
          12884901901,
        ]),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": Cuboid((
          x: 1.0,
          y: 1.0,
          z: 1.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Dynamic,
        "bevy_xpbd_3d::components::mass_properties::Mass": (61.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 10.166668,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 10.166668,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 10.166668,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
        "platformer::PlayerController": (
          speed: 5.0,
          jump_speed: 50.0,
        ),
      },
    ),
    12884901895: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 23.018784,
            y: 3.3340516,
            z: -27.782812,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 16867911387924892720,
          name: "Platform",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 10.0,
          h: 1.0,
          d: 10.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (5709.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 47976.516,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 95083.98,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 48059.016,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    12884901896: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.19442677,
            z: -13.885826,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 16867911387924892720,
          name: "Platform",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 10.0,
          h: 1.0,
          d: 10.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (5709.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 47976.516,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 95083.98,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 48059.016,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    12884901897: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.9275942,
            z: -62.805664,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 16867911387924892720,
          name: "Platform",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 10.0,
          h: 1.0,
          d: 10.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (5709.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 47976.516,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 95083.98,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 48059.016,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    12884901898: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.19442677,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 16867911387924892720,
          name: "Platform",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 10.0,
          h: 1.0,
          d: 10.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (5709.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 47976.516,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 95083.98,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 48059.016,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    12884901899: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.9275942,
            z: -44.55526,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 16867911387924892720,
          name: "Platform",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 10.0,
          h: 1.0,
          d: 10.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (5709.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 47976.516,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 95083.98,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 48059.016,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    12884901900: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.9275942,
            z: -79.92189,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 16867911387924892720,
          name: "Platform",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 10.0,
          h: 1.0,
          d: 10.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (5609.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 47134.848,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 93417.31,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 47217.348,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    12884901901: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: -0.74455,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 18394341853545356430,
          name: "Box",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 0.2,
          h: 0.2,
          d: 0.5,
        )),
      },
    ),
    17179869188: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 3.3340516,
            z: -27.782812,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 16867911387924892720,
          name: "Platform",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 10.0,
          h: 1.0,
          d: 10.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (5809.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 48818.184,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 96750.64,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 48900.684,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
  },
)