(
  resources: {},
  entities: {
    6: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -8.527334,
            y: 0.0,
            z: -25.785236,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 11039913775001325628,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 0.0,
            green: 0.25490198,
            blue: 0.972549,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 5.0,
          h: 1.0,
          d: 5.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (799.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 1727.2457,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 3325.2473,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 1731.1656,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    7: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -0.2171275,
            y: 0.21842504,
            z: -0.45697784,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 0.2,
          h: 0.2,
          d: 0.2,
        )),
      },
    ),
    8: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: -16.504646,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 11039913775001325628,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 0.0,
            green: 1.0,
            blue: 0.37254903,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 5.0,
          h: 1.0,
          d: 5.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (799.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 1727.2457,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 3325.2473,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 1731.1656,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    9: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: -6.3498917,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 11039913775001325628,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 0.972549,
            blue: 0.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 5.0,
          h: 1.0,
          d: 5.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (799.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 1727.2457,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 3325.2473,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 1731.1656,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    10: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: -1.2103212,
            z: -25.835867,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 11039913775001325628,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 0.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 5.0,
          h: 1.0,
          d: 5.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (799.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 1727.2457,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 3325.2473,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 1731.1656,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    11: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0000000018626451,
            y: 1.5171733,
            z: 9.22011,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 0.99999994,
            y: 0.99999994,
            z: 0.99999994,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 11039913775001325628,
          name: "Player",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Cube(1.0),
        "space_editor::prefab::save::ChildrenPrefab": ([
          7,
          15,
          12,
        ]),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Dynamic,
        "bevy_xpbd_3d::components::mass_properties::Mass": (30.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 5.0000005,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 5.0000005,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 5.0000005,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
        "platformer::PlayerController": (
          speed: 6.0,
          jump_speed: 30.0,
        ),
      },
    ),
    12: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.26487502,
            y: 0.21842504,
            z: -0.4515314,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 0.2,
          h: 0.2,
          d: 0.2,
        )),
      },
    ),
    13: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 3.287889,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 11039913775001325628,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 5.0,
          h: 1.0,
          d: 5.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (799.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 1727.2457,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 3325.2473,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 1731.1656,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    14: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -16.673035,
            y: 1.5396833,
            z: -25.659279,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 11039913775001325628,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 0.93333334,
            green: 0.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 5.0,
          h: 1.0,
          d: 5.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (774.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 1673.0791,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 3221.0806,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 1676.999,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    15: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: -0.07585633,
            z: -0.5607872,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 0.5,
          h: 0.2,
          d: 0.5,
        )),
      },
    ),
    16: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: -0.000009655952,
            z: 9.514013,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 11039913775001325628,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 5.0,
          h: 1.0,
          d: 5.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (799.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 1727.2457,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 3325.2473,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 1731.1656,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    17: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 7.1922965,
            y: 3.735711,
            z: 0.0,
          ),
          rotation: (-0.1146213, 0.6778526, 0.12107966, 0.716043),
          scale: (
            x: 0.9999996,
            y: 0.9999984,
            z: 0.9999992,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 14094366057385020954,
          name: "Camera3d",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::camera::camera::Camera": (
          viewport: None,
          order: 0,
          is_active: false,
          hdr: false,
          msaa_writeback: true,
        ),
        "bevy_core_pipeline::core_3d::camera_3d::Camera3d": (
          clear_color: Default,
          depth_load_op: Clear(0.0),
          depth_texture_usages: (16),
        ),
        "bevy_render::camera::projection::Projection": Perspective((
          fov: 0.7853982,
          aspect_ratio: 1.7777778,
          near: 0.1,
          far: 1000.0,
        )),
        "space_editor::prefab::component::camera::CameraPlay": (),
        "platformer::FollowCamera": (
          dist: 34.0,
          target: (
            entity: 11,
          ),
          speed: 10.0,
        ),
      },
    ),
  },
)