(
  resources: {},
  entities: {
    4294967313: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 11.90253,
            z: 0.574896,
          ),
          rotation: (x: -0.0000000005767191, y: 0.7109159, z: -0.0000000005767191, w: -0.70327705),
          scale: (
            x: 1.0000631,
            y: 1.0000006,
            z: 1.0000631,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 11039913775001325628,
          name: "Player",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_prefab::component::shape::MeshPrimitivePrefab": Cube(1.0),
        "space_prefab::save::ChildrenPrefab": ([
          4294967318,
          4294967317,
          4294967314,
        ]),
        "space_bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_bevy_xpbd_plugin::registry::RigidBodyPrefab": Dynamic,
        "bevy_xpbd_3d::components::mass_properties::Mass": (148.00037),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 24.666742,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 24.66677,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 24.666742,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    4294967314: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.26489353,
            y: 0.21842492,
            z: -0.45153165,
          ),
          rotation: (x: 0.0, y: -0.00000000046566123, z: 0.0, w: 1.0),
          scale: (
            x: 1.0000001,
            y: 0.99999964,
            z: 1.0000001,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 0.2,
          h: 0.2,
          d: 0.2,
        )),
      },
    ),
    4294967316: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: -0.000009655952,
            z: 0.38997746,
          ),
          rotation: (x: 0.0, y: 0.0, z: 0.0, w: 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 11039913775001325628,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 5.0,
          h: 1.0,
          d: 5.0,
        )),
        "space_bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_bevy_xpbd_plugin::registry::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (3749.0),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 8118.9033,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 15616.932,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 8122.823,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    4294967317: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -0.004894841,
            y: 0.0,
            z: -0.4533022,
          ),
          rotation: (x: 0.000000000000018831962, y: -0.00000000046566245, z: 0.0000000000019876305, w: 1.0),
          scale: (
            x: 0.99999756,
            y: 0.9999971,
            z: 0.99999756,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 0.2,
          h: 0.2,
          d: 0.5,
        )),
      },
    ),
    4294967318: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -0.21711826,
            y: 0.21842504,
            z: -0.4569779,
          ),
          rotation: (x: 0.0, y: -0.00000000046566123, z: 0.0, w: 1.0),
          scale: (
            x: 1.0000001,
            y: 1.0,
            z: 1.0000001,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 0.2,
          h: 0.2,
          d: 0.2,
        )),
      },
    ),
  },
)