(
  resources: {},
  entities: {
    4294967304: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -1.876154,
            y: 44.0478,
            z: -1.2631996,
          ),
          rotation: (0.0, 0.0, 0.9759221, -0.21811941),
          scale: (
            x: 0.99999774,
            y: 0.99999774,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 13775325296566515068,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Cube(1.0),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": Cuboid((
          x: 1.0,
          y: 1.0,
          z: 1.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Dynamic,
      },
    ),
    4294967305: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 13775325296566515068,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Box((
          w: 10.0,
          h: 0.1,
          d: 10.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": Cuboid((
          x: 10.0,
          y: 0.1,
          z: 10.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Static,
      },
    ),
    4294967306: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 1.9746895,
            y: 44.0478,
            z: 2.8802555,
          ),
          rotation: (0.051090505, 0.21308047, 0.22991352, 0.9482227),
          scale: (
            x: 0.999998,
            y: 0.99999774,
            z: 0.9999999,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 13775325296566515068,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Cube(1.0),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": Cuboid((
          x: 1.0,
          y: 1.0,
          z: 1.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Dynamic,
      },
    ),
    4294967307: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -0.78799725,
            y: 44.0478,
            z: 2.178174,
          ),
          rotation: (0.013510452, 0.9752716, 0.003055634, 0.22057484),
          scale: (
            x: 0.99999785,
            y: 0.9999977,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 13775325296566515068,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Cube(1.0),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": Cuboid((
          x: 1.0,
          y: 1.0,
          z: 1.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Dynamic,
      },
    ),
    8589934596: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 1.0653362,
            y: 47.538246,
            z: -3.7868316,
          ),
          rotation: (0.0, 0.0, -0.43633515, 0.8997842),
          scale: (
            x: 0.9999976,
            y: 0.9999976,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 13775325296566515068,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Cube(1.0),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": Cuboid((
          x: 1.0,
          y: 1.0,
          z: 1.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Dynamic,
      },
    ),
    25769803782: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 2.018241,
            y: 44.0478,
            z: -0.15712422,
          ),
          rotation: (0.0, 0.0, 0.2941332, 0.9557645),
          scale: (
            x: 0.99999714,
            y: 0.99999714,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 13775325296566515068,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Cube(1.0),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": Cuboid((
          x: 1.0,
          y: 1.0,
          z: 1.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Dynamic,
      },
    ),
    25769803783: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 47.523735,
            z: -0.071896374,
          ),
          rotation: (0.0, 0.0, 0.013851696, 0.99990404),
          scale: (
            x: 0.9999977,
            y: 0.9999977,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 13775325296566515068,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::shape::MeshPrimitivePrefab": Cube(1.0),
        "space_editor::optional::bevy_xpbd_plugin::collider::ColliderPrefab": Cuboid((
          x: 1.0,
          y: 1.0,
          z: 1.0,
        )),
        "space_editor::optional::bevy_xpbd_plugin::RigidBodyPrefab": Dynamic,
      },
    ),
  },
)