(
  resources: {},
  entities: {
    4294967297: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::load::PrefabLoader": (
          path: "tile.scn.ron",
        ),
        "space_editor::prefab::save::ChildrenPrefab": ([
          7,
          6,
          4294967299,
          4294967298,
          8,
        ]),
      },
    ),
    12884901917: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::load::PrefabLoader": (
          path: "tile.scn.ron",
        ),
        "space_editor::prefab::save::ChildrenPrefab": ([
          38,
          37,
          36,
          35,
          39,
        ]),
      },
    ),
  },
)