({
	"sphere": Sphere (
		radius: 0.75,
		
	),
	"square": Quad (
		size: (
			2.0,
			2.0
		)
	),
	"unknown": Image (
		path: "icons/unknown.png"
	),
	"directional" : Image (
		path: "icons/DirectionalLightGizmo.png"
	),
	"spot" : Image (
		path: "icons/SpotLightGizmo.png"
	),
	"point" : Image (
		path: "icons/PointLightGizmo.png"
	),
	"camera" : Image (
		path: "icons/CameraGizmo.png"
	)
})
