(
  resources: {},
  entities: {
    8589934609: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 4.022996,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.322659,
            y: 1.0000001,
            z: 1.9867467,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 16153353295470017978,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Visible,
        "space_prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_prefab::component::shape::MeshPrimitive3dPrefab": Box((
          w: 1.0,
          h: 0.1,
          d: 1.0,
        )),
        "space_bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_bevy_xpbd_plugin::registry::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (8.171806),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 2.5280972,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 9.428318,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 6.747172,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    21474836489: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 25.626577,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.322659,
            y: 1.0000001,
            z: 1.9867467,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 16153353295470017978,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Visible,
        "space_prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_prefab::component::shape::MeshPrimitive3dPrefab": Box((
          w: 1.0,
          h: 0.1,
          d: 1.0,
        )),
        "space_bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_bevy_xpbd_plugin::registry::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (7.77709),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 2.3979342,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 9.168649,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 6.617009,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    21474836493: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -8.806148,
            y: 1.5,
            z: 0.0,
          ),
          rotation: (
            x: -0.48451492,
            y: -0.4971529,
            z: 0.5004074,
            w: 0.5173749,
          ),
          scale: (
            x: 1.000003,
            y: 1.0000036,
            z: 1.0000024,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 16153353295470017978,
          name: "Player",
        ),
        "bevy_render::view::visibility::Visibility": Visible,
        "space_prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_prefab::component::shape::MeshPrimitive3dPrefab": Cube(1.0),
        "space_prefab::save::ChildrenPrefab": ([
          25769803788,
        ]),
        "space_bevy_xpbd_plugin::collider::ColliderPrefab": Primitive(
          pos: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rot: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          primitive: Cuboid((
            x: 1.0,
            y: 1.0,
            z: 1.0,
          )),
        ),
        "space_bevy_xpbd_plugin::registry::RigidBodyPrefab": Dynamic,
        "bevy_xpbd_3d::components::mass_properties::Mass": (14.000017),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 2.333338,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 2.333338,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 2.3333383,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
        "space_bevy_xpbd_plugin::spatial_query::RayCasterPrefab": (
          direction: (
            x: -1.0,
            y: 0.0,
            z: 0.0,
          ),
          origin: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
        ),
        "platformer::PlayerController": (
          speed: 10.0,
          jump_speed: 100.0,
          jumped: false,
        ),
      },
    ),
    21474836495: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -9.59452,
            y: 5.4386883,
            z: 13.7599325,
          ),
          rotation: (
            x: -0.22447929,
            y: -0.09321338,
            z: 0.02499185,
            w: 0.9696885,
          ),
          scale: (
            x: 0.99999857,
            y: 1.0,
            z: 0.99999976,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 3504866713135743650,
          name: "Camera3d",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_render::camera::camera::Camera": (
          viewport: None,
          order: 0,
          is_active: false,
          hdr: false,
          msaa_writeback: true,
          clear_color: Default,
        ),
        "bevy_core_pipeline::core_3d::camera_3d::Camera3d": (
          depth_load_op: Clear(0.0),
          depth_texture_usages: (16),
          screen_space_specular_transmission_steps: 1,
          screen_space_specular_transmission_quality: Medium,
        ),
        "bevy_render::camera::projection::Projection": Perspective((
          fov: 0.7853982,
          aspect_ratio: 1.7777778,
          near: 0.1,
          far: 1000.0,
        )),
        "space_prefab::component::camera::PlaymodeCamera": (),
        "space_prefab::save::ChildrenPrefab": ([
          47244640267,
        ]),
        "platformer::FollowCamera": (
          dist: 10.0,
          target: (
            entity: 21474836493,
          ),
          speed: 10.0,
        ),
      },
    ),
    25769803788: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -0.019455194,
            y: 0.017702103,
            z: -0.57863563,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 0.31928456,
            y: 0.31928456,
            z: 0.31928447,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 6390550647583486133,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_prefab::component::shape::MeshPrimitive3dPrefab": Cube(1.0),
      },
    ),
    30064771086: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -2.486157,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.322659,
            y: 1.0000001,
            z: 1.9867467,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 16153353295470017978,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Visible,
        "space_prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_prefab::component::shape::MeshPrimitive3dPrefab": Box((
          w: 1.0,
          h: 0.1,
          d: 1.0,
        )),
        "space_bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_bevy_xpbd_plugin::registry::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (8.171806),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 2.5280972,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 9.428318,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 6.747172,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    34359738376: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -7.6190352,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.322659,
            y: 1.0000001,
            z: 1.9867467,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 16153353295470017978,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Visible,
        "space_prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_prefab::component::shape::MeshPrimitive3dPrefab": Box((
          w: 1.0,
          h: 0.1,
          d: 1.0,
        )),
        "space_bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_bevy_xpbd_plugin::registry::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (8.171806),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 2.5280972,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 9.428318,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 6.747172,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
    38654705674: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 12.85639,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 4.322659,
            y: 1.0000001,
            z: 1.9867467,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 16153353295470017978,
          name: "Cube",
        ),
        "bevy_render::view::visibility::Visibility": Visible,
        "space_prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_prefab::component::shape::MeshPrimitive3dPrefab": Box((
          w: 1.0,
          h: 0.1,
          d: 1.0,
        )),
        "space_bevy_xpbd_plugin::collider::ColliderPrefab": FromPrefabMesh,
        "space_bevy_xpbd_plugin::registry::RigidBodyPrefab": Static,
        "bevy_xpbd_3d::components::mass_properties::Mass": (8.171806),
        "bevy_xpbd_3d::components::Friction": (
          dynamic_coefficient: 0.3,
          static_coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::Restitution": (
          coefficient: 0.3,
          combine_rule: Average,
        ),
        "bevy_xpbd_3d::components::mass_properties::Inertia": ((
          x_axis: (
            x: 2.5280972,
            y: 0.0,
            z: 0.0,
          ),
          y_axis: (
            x: 0.0,
            y: 9.428318,
            z: 0.0,
          ),
          z_axis: (
            x: 0.0,
            y: 0.0,
            z: 6.747172,
          ),
        )),
        "bevy_xpbd_3d::components::mass_properties::CenterOfMass": ((
          x: 0.0,
          y: 0.0,
          z: 0.0,
        )),
      },
    ),
  },
)